@import "~bootswatch/dist/superhero/_variables"; //sketchy is other them in use
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/_bootswatch"; //sketchy is other them in use
@import "~tippy.js/dist/tippy";

.btnStartApp {
  font-size: 3.75em;
  line-height: 1.2;
  text-transform: uppercase;
}

.headingAppTitle {
  line-height: 0.9;
}

.player {
  cursor: pointer;
}

.footer {
  bottom: 0;
  width: 100%;
}

.canvas-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
}

.identified-object {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid $primary;
}

.tippy-backdrop {
  background-color: transparent;
}

.tippy-content {
  font-size: 1rem;
  padding: .375rem .75rem;
  text-align: center;
}
