# This is a basic workflow to help you get started with Actions
name: Production Build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths-ignore:
      - "README.md"
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "README.md"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Install Dependencies (yarn)
        run: yarn
        env:
          FONT_AWESOME_TOKEN: ${{secrets.FONT_AWESOME_TOKEN}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN}}
      - name: Build Site (webpack)
        run: yarn build
        env:
          FONT_AWESOME_TOKEN: ${{secrets.FONT_AWESOME_TOKEN}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN}}
      - name: Deploy Site (gh pages)
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
